body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(181, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* color: #333; */
}


.navbar {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    width: 40%;
    margin: 0 auto;
    border-radius: 2.5rem;
    background-color: #252525;
    padding: 2rem;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    /* Center items vertically */
    z-index: 999;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 0.1rem solid black;
    /* Converted border property to rems */

    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 3rem;
    /* Height of the .navbar container */
    height: auto;
    padding: 0;
    /* Remove padding, or adjust as needed */
}

.navbar a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
    /*  */
}

.navbar a:first-child {
    padding-left: 0.69rem;
    padding-right: 1rem;
}

.navbar a:nth-child(2) {
    padding-right: 1rem;
}

.navbar a:nth-child(3) {
    padding-right: 1rem;
}

.navbar a:nth-child(4) {
    padding-right: 0.5rem;
}

.navbar:hover {
    background-color: #ffffff;
    color: #252525;
}

.navbar:hover a {
    color: #252525;
}




.combined-section {
    width: 75%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5rem;
    text-align: left;
    /* margin: auto; */
    /* Vertically center the content */
    align-items: center;
}


.vertical-search-box {
    /* border: 0.5rem solid black; */
    /* justify-content: center; */
    margin-top: 9%;
    /* margin-bottom: 6%; */
    width: 100%;
    height: 30rem;
    background-color: white;
    left: 0;
    border-radius: 2.5rem;
    border: 0.1rem solid black;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.upar {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 15%;
    /* border: 0.1rem solid black; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.beech {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 85%;
    /* border: 0.1rem solid black; */
    overflow: auto;
    /* padding: 1rem; */
}

.beech::-webkit-scrollbar {
    display: none;
}







/* .niche {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
} */





.all-scholarships {
    flex-wrap: wrap;
}